@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



/* Style général */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #93a685; /* Couleur dorée du logo */
    --secondary-color: #ffffff; /* Noir pour les fonds sombres */
    --third-color:#f49312; /* Blanc pour les fonds clairs */
    --fourth-color: #1c1c1a; /* Noir pour les textes clairs */
    --text-color: #333333; /* Gris foncé pour le texte */
    --background-color: #f5f5f5; /* Gris clair pour le fond */
    --font-family: "Work Sans", sans-serif; /* Police standard */
    --header-height: 80px; /* Hauteur de l'en-tête */
    --padding: 20px; /* Marge intérieure */
    --border-radius: 5px; /* Coins arrondis */

    /* Tailles de police */
    --font-size-xs: 0.9rem;
    --font-size-s: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Poids de la police */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Largeur max site */
    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;   
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: none;
}

img {
    width: 100%;
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--primary-color);
}


/* Style du navbar */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--secondary-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: white;
    font-weight: var(--font-weight-medium);
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--third-color);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    border-color: var(--fourth-color);
    background: transparent;
}

.nav-logo {
    display: flex;
    align-items: center; /* Aligne verticalement le texte et l'image */
    gap: 10px; /* Espace entre l'image et le texte (optionnel) */
    text-decoration: none; /* (optionnel) pour éviter le soulignement */
}


.navbar .nav-logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: var(--border-radius-circle);
}

.navbar .nav-logo .logo-text {
    color: var(--primary-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}


.navbar .nav-menu .nav-link:hover {    
    color: var(--fourth-color);
    background: var(--third-color);
}

/* Hero section styling */

.hero-section {
    position: relative;
    min-height: 100vh;
    background-image: url("images/Commun/Gestimob-Babel-03.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

/* Superposition sombre pour améliorer lisibilité du texte */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); /* ajuste l'opacité ici */
    z-index: 1;
}

/* Le container pour le texte */
.hero-section .text-container {
    margin-top: 100px;
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);  /* Fond blanc semi-transparent */
    border-radius: 10px;  /* Pour arrondir les coins du container */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Ombre discrète pour le container */
}

/* Le texte à l'intérieur du container */
.hero-section .text-container .title {
    margin-top: 50px;
    font-size: 3rem;
    color: #333;  /* Texte foncé pour un meilleur contraste */
    margin-bottom: 50px;
}

.hero-section .text-container .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;  /* Texte plus léger que le titre */
    margin-bottom: 50px;
}

.floating-availability {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e63946;
  color: #fff;
  padding: 10px 18px;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: bounce 2s infinite;
  cursor: pointer;
}

.floating-availability .close-btn {
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 0 6px;
  color: #fff;
  background: transparent;
  border: none;
}

.floating-availability .close-btn:hover {
  color: #ddd;
}

.hero-section .hero-details ul.hero-features {
    padding-left: 0;
    list-style: none;
    margin-bottom: 30px;
}

.hero-section .hero-details ul.hero-features li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: var(--primary-color);
    font-weight: bold;
}

.hero-section .hero-details ul.hero-features li {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.hero-section .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--secondary-color);
    border-radius: var(--border-radius-m);
    background: var(--fourth-color);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    font-size: var(--font-size-l);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    justify-content: center;
    font-weight: var(--font-weight-bold);
}

.hero-section .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.hero-section .section-content .buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: 0.3s ease;
    margin-bottom: 50px;
    border-radius: var(--border-radius-m)
}

.hero-section .section-content .buttons .devis-gratuit {
    color: var(--secondary-color);
    background: var(--fourth-color);
}

.hero-section .section-content .buttons .devis-gratuit:hover {
    color: var(--fourth-color);
    background: transparent;
    border-color: var(--fourth-color);
}

.hero-section .section-content .buttons .nos-services {
    color: var(--fourth-color);
    border-color: var(--fourth-color);
    background: transparent;
}
.hero-section .section-content .buttons .nos-services:hover {
    color: var(--secondary-color);
    background: var(--fourth-color);
    border-color: var(--fourth-color);
}

.hero-section .section-content .buttons .devis-gratuit,
.hero-section .section-content .buttons .nos-services {
    cursor: pointer;
}

.map-wrapper {
  margin-top: 40px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

/* About section styling */

.about-section {
    margin-top: -75px;
    background-color: #fdfbf8;
    padding: 80px 20px;
    color: #333;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.about-image-wrapper {
    margin-top: -50px;
    margin-bottom: 50px;
    flex: 1 1 45%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-image {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.about-image:hover {
    transform: scale(1.03);
}

.about-details {
    flex: 1 1 45%;
}

.about-details .section-title {
    font-size: var(--font-size-xl);
    margin-bottom: 30px;
    text-align: left;
}

.about-details .highlight {
    font-size: 1.2rem;
    color: var(--fourth-color);
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.about-details .text {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
}

.about-details .conclusion {
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 30px;
    color: var(--fourth-color);
    text-align: center;
}

/* Liste d’accès rapide */
.access-list {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
}
.access-list li {
    font-size: 0.9rem;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
.access-list li::before {
    content: "•";
    color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
}

/* Service section styling */

.service-section {
    padding: 50px 0 100px;
    color: black;
    background: rgb(245, 238, 230);
}

.gallery-row {
    margin-top: -75px;
    margin-bottom: 50px;
}

.maison-details{
    margin-top: 20px;
}


.service-section .service {
    user-select: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.service-section .service .service-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.service-section .service .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.maison-galleries {
    margin-top: -50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.service-section .btn {
    margin-top: 200px;
    font-size: var(--font-size-l);
    justify-content: center;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--fourth-color);
    border-radius: var(--border-radius-m);
    background: var(--third-color);
    font-weight: var(--font-weight-bold);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.service-section .btn:hover {
    background: transparent;
    color: var(--fourth-color);
    border-color: var(--fourth-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* Détails des maisons */

.maison-details {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.maison-details .text {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}

.maison-section {
    margin-top: 30px;
}

.maison-section h4 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #333;
    border-left: 4px solid #d3a86b;
    padding-left: 12px;
}

.maison-section ul {
    padding-left: 20px;
    list-style-type: disc;
}

.maison-section p {
    margin: 0;
}

/* Contact styling */

.contact-section {
    padding: 50px 0 100px;
    background: white;
}

.contact-section .section-content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: white;
    border-radius: var(--border-radius-s);
    border: 1px solid gray;
}

.contact-section .contact-form .form-input:focus {
    border-color: var(--primary-color);
}

.contact-section .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form {
    max-width: 50%;
    margin-right: 20px;
}

.contact-section .contact-form .submit-button {
    padding: 10px 26px;
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: var(--fourth-color);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-section .contact-form .submit-button:hover {
    color: var(--fourth-color);
    background: transparent;
    border-color: var(--fourth-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* Footer styling */

.footer-section {
    background-color: var(--fourth-color); /* Couleur de fond claire */
    padding: 20px 0; /* Espacement autour du footer */
    font-family: Arial, sans-serif; /* Police générale */
    text-align: center; /* Centrer le texte */
}

.footer-section .section-content {
    max-width: 1200px; /* Limite la largeur */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    padding: 10px; /* Espacement intérieur */
}

.footer-section .copyright-text {
    font-size: 14px; /* Taille de police pour le texte des droits d'auteur */
    color: var(--secondary-color); /* Couleur du texte */
    margin-bottom: 10px; /* Marge inférieure */
}

.footer-section ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Enlève le padding */
    margin: 0; /* Enlève la marge */
    display: flex; /* Affiche les éléments en ligne */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 15px; /* Espacement entre les liens */
}

.footer-section ul li {
    display: inline; /* Affiche chaque élément de la liste en ligne */
}

.footer-section ul li a {
    text-decoration: none; /* Enlève le soulignement des liens */
    color: var(--secondary-color); /* Couleur bleue pour les liens */
    font-size: 14px; /* Taille de police pour les liens */
    transition: color 0.3s ease; /* Effet de transition pour le changement de couleur */
}

.footer-section ul li a:hover {
    color: #0056b3; /* Changement de couleur au survol */
}

/* Gallery section styling */

.gallery-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.gallery-container {
  flex: 1 1 45%;
  text-align: center;
}


.gallery-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #222;
}

.image-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease;
}

.gallery-image:hover {
    transform: scale(1.02);
}

/* Flèches de navigation */

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.nav.prev {
  left: 10px;
}

.nav.next {
  right: 10px;
}

.nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* ← Plus léger */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.lightbox .nav {
  background: rgba(255,255,255,0.4);
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

/* Dialog modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    position: relative;
}

.modal-content h3 {
  margin-bottom: 10px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 20px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 15px;
}

.btnMail {
    margin-top: 15px;
    font-size: var(--font-size-m);
    justify-content: center;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--secondary-color);
    border-radius: var(--border-radius-m);
    background: var(--fourth-color);
    font-weight: var(--font-weight-bold);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btnMail:hover {
    background: transparent;
    color: var(--fourth-color);
    border-color: var(--fourth-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {

    :root{
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .navbar .nav-logo img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: var(--border-radius-circle);
    }

    .section-title {
        margin-top: -30px;
        padding: 30px 0 50px;
        font-size: var(--font-size-xl);
    }

    .section-title .gallery-row .gallery-container .nomVilla {
        font-size: var(--font-size-s);
    }

    .nav-logo {
        gap: 0px; /* Espace entre l'image et le texte (optionnel) */
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
        color: black;
    }

    .navbar #menu-open-button {
        color: black;
        background: transparent;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: white;
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: black;
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    /* Hero section styling */

    .hero-section .section-content {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
        min-height: 100vh;
        margin-right: 30px;
        margin-left: 30px;
    }

    .hero-section {
        padding: 40px 20px;
        min-height: auto;
    }

    .hero-section .text-container {
        margin-left: -40px;
        margin-right: -40px;
        margin-top: 120px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .hero-section .text-container .title {
        font-size: 1.7rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hero-section .text-container .subtitle {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .hero-section .button {
        width: 100%;
        font-size: var(--font-size-l);
        padding: 12px 0;
        margin-top: 10px;
        margin-bottom: -20px;
    }

    .hero-section .buttons {
        flex-direction: column;
        gap: 12px;
    }

    /* About section styling */

    .about-content {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: -50px;
    }

    .maison-galleries {
        margin-top: 10px;
    }

    .about-details .section-title {
        text-align: center;
    }

    .about-image-wrapper {
        justify-content: center;
    }

    .about-section .section-content {
        margin-top: 50px;
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-section .about-image-wrapper {
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
        margin-bottom: -100px;
    }

    .gallery-row {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    /* Service section styling */

    .service-section {
        margin-bottom: -50px;
    }

    /* Contact section styling */

    .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }

    .contact-section .contact-form {
        margin-right: 25px;
        margin-bottom: -25px;
    }

    .contact-info-list {
        margin-bottom: -50px;
    }
}

/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) {
    
    .footer-section {
        padding: 20px 10px; /* Espacement réduit sur mobile */
    }

    .footer-section .section-content {
        padding: 0; /* Réduit le padding sur mobile */
    }

    .footer-section ul {
        flex-direction: column; /* Afficher les liens sous forme de colonne sur mobile */
        gap: 10px; /* Espacement entre les éléments */
    }

    .footer-section .copyright-text {
        margin-bottom: 15px; /* Augmente la marge sous le texte copyright sur mobile */
    }
}
